{% load staticfiles %}

<div class="form-group">
  <div class="col-md-12 col-sm-12 col-xs-12 text-center">
    <img class="upload-from-image" src="{% static 'images/team-logo-placeholder.png' %}" />
    <input type="hidden" name="logo_file_name" id="logo_file_name" />
    <input type="file" id="file" name="file" class="invisible-input auto-upload" data-target-input-id="logo_file_name" />
  </div>
</div>
<div class="form-group {% if form.name.errors %}bad{% endif %}">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_name">Nome <span class="required">*</span>
  </label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    {{ form.name }}
  </div>
</div>
<div class="form-group {% if form.foundation.errors %}bad{% endif %}">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_foundation">Fundação</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    {{ form.foundation }}
  </div>
</div>
<div class="form-group {% if form.city.errors %}bad{% endif %}">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">Cidade</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    {{ form.city }}
  </div>
</div>
<div class="form-group {% if form.president.errors %}bad{% endif %}">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">Presidente</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    {{ form.president }}
  </div>
</div>
