{% extends "base.html" %}

{% block content %}
<div class="page-title">
  <div class="title_left">
    <h3>Novo Time</h3>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content">
        <br>
        <form method="POST" action="{% url 'web:create_team' %}" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">{% csrf_token %}
          {% include 'partials/team_form.html' %}
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <a class="btn btn-primary" href="{% url 'web:index' %}">Cancelar</a>
              <button type="submit" class="btn btn-success">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
